
// ...
table.ost-store-stock--detail-tab--table {
    width: 100%;

    tr td {
        width: 50%;
    }

    tr td:nth-child(2), tr td:nth-child(3) {
        width: 25%;
    }

    tbody tr td:nth-child(1) {
        text-align: left;
    }

    tbody tr td:nth-child(2), tbody tr td:nth-child(3) {
        text-align: center;
    }
}
